.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 1px solid darkgrey;
  border-radius: 20px;
  padding: 20px;
}

.active-filter {
  background-color: deepskyblue;
}